<div class="flex items-center justify-center h-screen">
  <div
    class="container flex flex-col items-center justify-center bg-white-700 rounded-xl shadow border p-8 m-10"
  >
    <h1 class="text-[50px]">Contact Me</h1>
    <h2 class="text-[25px] m-2">
      We are always happy to find out what's on your mind
    </h2>
    <my-form-field [isValid]="isFormValid">
      <input
        [(ngModel)]="name"
        myInput
        placeholder="Name"
        type="text"
        required
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
    </my-form-field>
    <my-form-field [isValid]="isFormValid">
      <input
        [(ngModel)]="email"
        myInput
        placeholder="Email"
        type="text"
        required
        email
        (input)="onValidityChange()"
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
    </my-form-field>
    <my-form-field [isValid]="isFormValid">
      <input
        [(ngModel)]="message"
        myInput
        type="text"
        placeholder="Message"
        maxlength="120"
        required
        (input)="onValidityChange()"
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
      <ng-container *ngIf="!isMessageLengthValid">
        <div class="text-red-500 mr-auto">Maximum of 120 characters.</div>
      </ng-container>
    </my-form-field>
    <button
      myButton
      (click)="submitForm()"
      [disabled]="!isFormValid"
      class="w-[300px] bg-violet-500 animate-pulse hover:bg-violet-700 hover:animate-none hover:scale-[1.1]' : 'bg-gray-300 cursor-not-allowed' text-white font-bold py-3 px-5 rounded-full ml-4 mt-4"
      [class.bg-gray-300]="!isFormValid"
      [class.cursor-not-allowed]="!isFormValid"
      [class.animate-none]="!isFormValid"
      [class.bg-violet-500]="isFormValid"
      [class.hover:bg-violet-700]="isFormValid"
      [class.hover:scale-[1.1]]="isFormValid"
    >
      Ask Us! 🤔
    </button>
  </div>
</div>
