<div class="flex items-center justify-center h-screen">
  <div
    class="container flex flex-col items-center justify-center bg-white-700 rounded-xl shadow border p-8 m-10"
  >
    <h1 class="text-[50px]">Contact Me</h1>
    <h2 class="text-[25px] m-2">
      We are always happy to find out what's on your mind
    </h2>
    <my-form-field>
      <input
        [(ngModel)]="name"
        myInput
        placeholder="Name"
        type="text"
        required
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
    </my-form-field>
    <my-form-field>
      <input
        [(ngModel)]="email"
        myInput
        placeholder="Email"
        type="text"
        required
        email
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
    </my-form-field>
    <my-form-field>
      <input
        [(ngModel)]="message"
        myInput
        placeholder="Message"
        type="text"
        required
        maxlength="120"
        class="w-[300px] bg-white-700 rounded-xl shadow border p-2 m-3"
      />
    </my-form-field>
    <button
      myButton
      type="submit"
      class="w-[300px] bg-violet-500 animate-pulse hover:bg-violet-700 hover:animate-none hover:scale-[1.1]' : 'bg-gray-300 cursor-not-allowed' text-white font-bold py-3 px-5 rounded-full ml-4 mt-4"
    >
      Ask Us! 🤔
    </button>
  </div>
</div>
